*{
    box-sizing: border-box;
}
body{
    background-color:rgb(167, 213, 241);
}

.calculator{
    background-color:rgb(54, 184, 219);
    width: 100%;
    max-width: 400px;
    margin: 40px auto 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0 , 0 , 0 , .3);
    border: 1px solid #ccc;
}


.calculator input{
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0 , 0 , 0 , .3);
    border: none;
    font-size: 25px;
    border-radius: 5px;
    
    
}
.calculator .button{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px ;
    margin-top: 10px;
}
.calculator .button span{
    padding: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0 , 0 , 0 , .3);
    border-radius: 10px;
    transition: background-color .3s ease;
    text-align: center;
    
}
.calculator .button span:hover{
background-color: #ddd;
}
.calculator .button .red{
    background-color: red;
    color: #fff;
}
.calculator .button .blue{
    background-color: blue;
    color: #fff;
}
.calculator .button .green{
    display: flex;
    background-color: green;
    color: #fff;
    grid-row:  span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}